<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #0e2433;
            color: white;
            margin: 0;
            padding: 0;
        }

        .header {
            background-color: #45b6fe;
            padding: 20px;
            text-align: left;
        }

        .header h1 {
            margin: 0;
        }

        .container {
            max-width: 1200px;
            margin: 20px auto;
            padding: 20px;
            background-color: white;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
            color: black;
        }

        h2 {
            color: #45b6fe;
        }

        /* Add more styles and components for your dashboard here */
    </style>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Welcome, [[${user.getFullname()}]]</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" th:href="@{/logout}">Logout</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    <div class="clearfix">
        <button class="btn btn-primary mb-3" onclick="exportToExcel()">Esporta su Excel</button>
        <a class="btn btn-danger float-right" href="/delete-users">Cancella Utente</a>
    </div>
    <!-- Filter for selecting the month -->
    <div class="form-group">
        <label for="monthSelect">Seleziona il mese:</label>
        <select class="form-control" id="monthSelect" onchange="filterData()">
            <option value="">Tutti</option>
            <option value="01">Gennaio</option>
            <option value="02">Febbraio</option>
            <option value="03">Marzo</option>
            <option value="04">Aprile</option>
            <option value="05">Maggio</option>
            <option value="06">Giugno</option>
            <option value="07">Luglio</option>
            <option value="08">Agosto</option>
            <option value="09">Settembre</option>
            <option value="10">Ottobre</option>
            <option value="11">Novembre</option>
            <option value="12">Dicembre</option>
            <!-- Add more options for other months if needed -->
        </select>
    </div>
    <table class="table table-bordered" style="display: none;">
        <thead class="thead-light">
        <tr>
            <th>Username</th>
            <th>Date</th>
            <th>Selection</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="data, iterStat : ${dataList}">
            <td th:if="${usernameChangedList[__${iterStat.index}__]}" th:text="${data.fullname}"></td>
            <td th:unless="${usernameChangedList[__${iterStat.index}__]}" style="white-space: nowrap;"></td> <!-- Cella vuota se l'username non è cambiato -->
            <td th:text="${data.date}"></td>
            <td th:text="${data.selection}"></td>
        </tr>
        </tbody>
    </table>
    <!-- Your dashboard content here -->
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.17.1/xlsx.full.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/FileSaver.js/2.0.5/FileSaver.min.js"></script>

<script>
    function filterData() {
        var selectedMonth = document.getElementById("monthSelect").value;
        var tableRows = document.querySelectorAll("tbody tr");

        tableRows.forEach(function(row) {
            var rowData = row.querySelector("td:nth-child(2)").innerText;
            var rowMonth = rowData.split("-")[1]; // Assuming date format is YYYY-MM-DD

            if (selectedMonth === "" || rowMonth === selectedMonth) {
                row.style.display = "table-row";
            } else {
                row.style.display = "none";
            }
        });
        // Mostra la tabella dopo aver filtrato i dati
        document.querySelector(".table").style.display = "table"; // Mostra la tabella
    }
</script>

<script>
    function exportToExcel() {
   var selectedMonth = document.getElementById("monthSelect").value;
   var table = document.querySelector(".table");
   var rows = table.querySelectorAll("tbody tr");
   var data = [];

   // Filtra i dati in base al mese selezionato
   rows.forEach(function(row) {
       var rowData = row.querySelector("td:nth-child(2)").innerText;
       var rowMonth = rowData.split("-")[1]; // Assuming date format is YYYY-MM-DD

       if (selectedMonth === "" || rowMonth === selectedMonth) {
           var filteredRow = [];
           var cols = row.querySelectorAll("td");
           cols.forEach(function(col) {
               filteredRow.push(col.innerText);
           });
           data.push(filteredRow);
       }
   });

   /* Crea un workbook e aggiungi i dati filtrati */
   var wb = XLSX.utils.book_new();
   var ws = XLSX.utils.aoa_to_sheet(data);

   // Imposta la larghezza delle colonne in base al contenuto
   var wscols = [
       { wch: 25 }, // Larghezza della prima colonna
       { wch: 15 }, // Larghezza della seconda colonna
       { wch: 15 }  // Larghezza della terza colonna
       // Aggiungi più oggetti { wch: width } per definire la larghezza di altre colonne
   ];
   ws['!cols'] = wscols;

   XLSX.utils.book_append_sheet(wb, ws, "Tabella");

   /* Esporta il workbook in un file Excel */
    var fileName = "presenze";
   if (selectedMonth !== "") {
       fileName += "_" + selectedMonth;
   }
   fileName += ".xlsx";
   var wbout = XLSX.write(wb, { bookType: 'xlsx', type: 'array' });
   saveAs(new Blob([wbout], { type: 'application/octet-stream' }), fileName);
}

</script>
<script>
    /* Funzione saveAs per il salvataggio del file */
    function saveAs(blob, fileName) {
        if (typeof window.navigator.msSaveBlob !== 'undefined') {
            // IE workaround for "HTML7007: One or more blob URLs were revoked by closing the blob for which they were created."
            window.navigator.msSaveBlob(blob, fileName);
        } else {
            var link = document.createElement('a');
            if (typeof link.download === 'string') {
                document.body.appendChild(link); // Firefox requires the link to be in the body
                link.download = fileName;
                link.href = URL.createObjectURL(blob);
                link.click();
                document.body.removeChild(link); // Clean up
            } else {
                window.open(blob);
            }
        }
    }
</script>
</body>
</html>
